<div class="row">
  <div class="col-md-12 header">
      <!-- <h2  Bappa</h2> -->
      <div class="pull-right"> Bappa</div>
     <button class="glyphicon glyphicon-align-left btnn" (click)="toggleSidebar()"></button>
  </div>
</div>
<div id="sidebar">
    <ul>
        <li>home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</div>
<!-- <div class="row">
    <div class="col-md-12 header">
    <h2 class="bappa"> Bappa</h2>
  <button class="mybppa">My Bappa</button>
    </div>
  </div> -->