.navbar{
    background-color: #333;
 }
h2{color: white;}
.xy ul{
     color: blue;
    list-style-type:none;
    margin: 0;
    padding: 0;
 }
.xy li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.xy li:hover{
    cursor: pointer;
}
.ok{
    display: none;
}

.bbttnn{
    display: none;
}
.res{
    display: none;
}



@media only screen and (max-width: 500px) {
.navbar {
    background-color: #333;
    }
.xy{display: none}
.ok{
    display: flex;
    }
.bbttnn{
       display: block;
       float: right;
       color: white;
  }   
li{
        float: left;
         color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
       
}
ul{
        color: blue;
        list-style-type:none;
               margin: 0;
        padding: 0;
}
li:hover{
        cursor: pointer;
        }
.res{
    display:block  ;
 
}

}