<body >
  <img alt="Doesnt Load.." src="../../assets/a.jpg" id="full-screen-background-image" /> 
 </body>

<div class="container">
<div class="row">
    <div class="col-md-12">     
       <div class="row jumbotron brd"style="margin-top:170px">
           
        <div class="col-md-4">
            <input class="form-control" 
            placeholder="Enter an City" 
            type="text">        
        </div>

        <div class="col-md-4">
             <input type="text"               
            name="area"
            required="required"               
            class="form-control" 
            placeholder="Enter an area" />
          </div>

        <div class="col-md-4">
            <button type="submit"
            id="button" 
            name="button" 
            class="btn btn-deep-orange waves-effect waves-light" mdbRippleRadius>Search</button>
        </div>
    </div>
  </div>
</div>
 </div>